@CHARSET "ISO-8859-1";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
.header-area{



}
.line{
  height: 4px;
  background-color: #bab3b3
}
.logo{
    background-color:#f5f5f5;;
}
.logo img{
    width: 233px
}
.navigation{
    padding-left: 563px;
    /* padding-bottom: 115px; */
    margin-top: -41px;
    font-size: large;

}
.navigation li{
    
    display: inline;
    text-align: center;
    padding: 14px 16px
}
.navigation a{
       text-decoration: none;
       color: black;
       font-weight: bold;
}
.navigation li:hover{
  background-color: #646464;
 /*  height: 50px; */
}
.dropbtn {
    background-color: rgb(245, 245, 245);
    color:solid black;
    padding: 14px;
    font-size: 16px;
    height: 46px;
    border: none;
    cursor: pointer;
    width: 90px;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      display: none;
    /* padding-top: 50px; */
    margin-top: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 127px;
    width: -69px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* padding-left: 70px; */
    margin-left: 87px;
    box-shadow: 2px 5px 20px 2px #362f2d;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #646464;
    height:30px;
  }
  .bg-img{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 80px;
    margin-top: 2px;
   
    
  }
  .labels {
  float: left;
  background-color: #000000ad;
    margin-top: 15px;
    border-radius: 4px;
  }
  .labels label{
  padding-top: 20px;
 padding-top: 20px;
    color: #96a794;
  }
  .bg-div{
  background-image: url(../images/4.jpg);
   background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-div{
  display: table;clear: both;
   margin-left: 410px; 
  
  }
  .tab-div{
     float: left;
    padding-left: 59px;
    margin-left: 50px;
    margin-top: 20px;
    color: #fdfdff;
    background-color: #3f464dab;
    border-radius: 4px;
        margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .tab-div button{
  margin-top: 15px;
   background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
  }
  .tab-div input[type=Date]{
   background-color: #fff;
    border: none;
    color: black;
    padding: 15px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  .lg-btn{
    margin-top:10px;
      width: 80px;
    /* border: none; */
    height: 34px;
    background-color: #1f900e;
    text-align: center;
    color: #fff;
    border-width: 1px;
    border-color: #45a93a;
    border-radius: 7px;
  }
  .lg-div{
  
  max-width: 366px;
    margin-left: 578px;
    background-color: #0000007a;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 6px 1px black;
  }
  .lg-div input[type=text]{
      width: 200px;
    text-align: center;
    height: 41px;
    border-radius: 4px;
    border: none;
}
.navigation button{
	    border: none;
    background-color: #f4f4f4;
    font-weight: bold;
} 
.navigation button:HOVER {
	  background-color: #646464;
} 