@CHARSET "ISO-8859-1";
.box{
	    width: fit-content;
    /* border: 3px solid; */
    margin-left: 500px;
    padding: 30px;
    background-color:  #000000c7;
    border-radius: 5px;
    box-shadow: 0 0 11px 0px black;
    margin-bottom: 50px;    
     color: #9f5104;
       font-size: 20px;
     
     }
.box select{
	height: 35px;
    width: 72px;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    padding-left: 6px;
    background-color: #0f0e0e87;
    border: 2px solid;
    color: white;
}
.selection{
	margin-left: 50px;
}
.selection b{
	font-size: large;
}
.bg-img{
	background-image: url(../images/4.jpg);
	
    background-repeat: no-repeat;
    background-size: cover;
}
.btn1{
	    background-color: #9997977a;
    border: none;
    border-radius: 7px;
    color: white;
}
.btn2{
	    background-color: #99969691;
    border: none;
    margin-left: 47px;
    color: white;
    /* text-underline-position: under; */
    border-radius: 7px;
}
.btn2:HOVER {
	background-color: #004a00;
}
.btn1:HOVER {
	background-color: #004a00;
}
	
